{% extends 'baseUser.html' %}
{% load static %}

{% block title%}Criar Serviço{% endblock %}

{% block content%}
<link type="text/css" rel="stylesheet" href="{% static 'assets2\plugins\codemirror\codemirror.css'%}">
<link type="text/css" rel="stylesheet" href="{% static 'assets2\plugins\codemirror\themes\dracula.css'%}">

    <div class="pageheader pd-t-25 pd-b-35">
        <div class="pd-t-5 pd-b-5">
        <h1 class="pd-0 mg-0 tx-20">Criar Serviço</h1>
        <h3 class="pd-0 mg-0 tx-20">Os Serviços Possibilitam Executar a Aplicação no Cluster </h3>
        <h3 class="pd-0 mg-0 tx-20">Antes de Criar um Serviço, Certifique-que de ter a Imagem da Aplicação em um Registry </h3>
        <h3 class="pd-0 mg-0 tx-20">O Serviço é criado usando um objecto Json. </h3>
      
        </div>
    </div>
    <!--Create Replica Beggin-->
    <div class="row row-xs clearfix">
        <!--================================-->
        <!-- Top Label Layout Start -->
        <!--================================-->
        <div class="col-md-12 col-lg-12">
           <div class="card mg-b-20">
            <form action="{% url 'newservice' %}" method="POST"> {% csrf_token %}
              <div class="card-header">
                 <h4 class="card-header-title">
                    Configurações do Serviço
                 </h4>
                 <div class="card-header-btn">
                    <a  href="" data-toggle="collapse" class="btn card-collapse" data-target="#collapse1" aria-expanded="true"><i class="ion-ios-arrow-down"></i></a>
                    <a href="" data-toggle="expand" class="btn card-expand"><i class="ion-android-expand"></i></a>
                 </div>
              </div>

              <div class="card-body collapse show" id="collapse1">
                
     <!-- Code Editor - Theme Dracula Start -->
                     <!--================================-->
                     <div class="col-md-12 col-lg-12">
                        <div class="card mg-b-20">
                                    <input id="code4" name="servicejson" value="Em caso de dúvidas visite url='https://docs.docker.com/engine/api/v1.41/#tag/Service/operation/ServiceCreate' "/>
                                </input>

                        </div>
                    </div>
<!--Exemplo-->
                 <div class="form-layout-footer">
                  <button class="btn btn-custom-primary">Criar</button>
                  <button class="btn btn-secondary">Cancelar</button>
               </div>
                
              </div>
           </div>

         </form>
        </div>
        
        <!--/ Form in Modal End -->					
     </div>

     <script src="{% static 'assets2/plugins/moment/moment.min.js'%}"></script>
    <script src="{% static 'assets2/plugins/codemirror/codemirror.js'%}"></script>
    <script src="{% static 'assets2/plugins/codemirror/javascript.js'%}"></script>
    <script>            
            var editor_four = CodeMirror.fromTextArea(document.getElementById("code4"), {
                                               lineNumbers: true,
                                               matchBrackets: true,
                                               styleActiveLine: true,
                                               theme:"dracula"
                                          });             
                                       
                                       
                                       
                        
    </script>
    
    
{% endblock%}

