{% extends 'baseUser.html' %}
{% load static %}

{% block title%}Criar Container{% endblock %}

{% block content%}
<link type="text/css" rel="stylesheet" href="{% static 'assets2\plugins\codemirror\codemirror.css'%}">
<link type="text/css" rel="stylesheet" href="{% static 'assets2\plugins\codemirror\themes\dracula.css'%}">

    <div class="pageheader pd-t-25 pd-b-35">
        <div class="pd-t-5 pd-b-5">
        <h1 class="pd-0 mg-0 tx-20">Criar Container</h1>
        <h3 class="pd-0 mg-0 tx-20">Pode criar um container adicionando as configurações que quiser como a a alocação de recursos </h3>
        <h3 class="pd-0 mg-0 tx-20">Para criar é necessário inserir o objecto Json com as configurações no campo a baixo.</h3>
        <h3 class="pd-0 mg-0 tx-20">Considere visitar ao site official do Docker para mais informações sobre como o objecto Json deve ficar. </h3>
      
        </div>
    </div>
    <!--Create Replica Beggin-->
    <div class="row row-xs clearfix">
        <!--================================-->
        <!-- Top Label Layout Start -->
        <!--================================-->
        <div class="col-md-12 col-lg-12">
           <div class="card mg-b-20">
            <form action="{% url 'newcontainerjson' %}" method="POST"> {% csrf_token %}
              <div class="card-header">
                 <h4 class="card-header-title">
                    Configurações do Container
                 </h4>
                 <div class="card-header-btn">
                    <a  href="" data-toggle="collapse" class="btn card-collapse" data-target="#collapse1" aria-expanded="true"><i class="ion-ios-arrow-down"></i></a>
                    <a href="" data-toggle="expand" class="btn card-expand"><i class="ion-android-expand"></i></a>
                 </div>
              </div>

              <div class="card-body collapse show" id="collapse1">
                
     <!-- Code Editor - Theme Dracula Start -->
                     <!--================================-->
                      <div class="col-lg-8">
                                      <div class="form-group mg-b-10-force">
                                         <label class="form-control-label active">Nome do Container<span class="tx-danger">*</span></label>
                                         <input class="form-control" type="text" name="name"  placeholder="container">
                                      </div>
                        </div>
                     <div class="col-md-12 col-lg-12">
                        <label class="form-control-label active">Objecto Json<span class="tx-danger">*</span></label>
                        <div class="card mg-b-20">
                                    <input id="code4" name="containerjson" value="Em caso de dúvidas visite url='https://docs.docker.com/engine/api/v1.41/#tag/Container/operation/ContainerCreate' "/>
                                </input>

                        </div>
                    </div>
<!--Exemplo-->
                 <div class="form-layout-footer">
                  <button class="btn btn-custom-primary">Criar</button>
                  <button class="btn btn-secondary">Cancelar</button>
               </div>
                
              </div>
           </div>

         </form>
        </div>
        
        <!--/ Form in Modal End -->					
     </div>

     <script src="{% static 'assets2/plugins/moment/moment.min.js'%}"></script>
    <script src="{% static 'assets2/plugins/codemirror/codemirror.js'%}"></script>
    <script src="{% static 'assets2/plugins/codemirror/javascript.js'%}"></script>
    <script>            
            var editor_four = CodeMirror.fromTextArea(document.getElementById("code4"), {
                                               lineNumbers: true,
                                               matchBrackets: true,
                                               styleActiveLine: true,
                                               theme:"dracula"
                                          });             
                                       
                                       
                                       
                        
    </script>
    
    
{% endblock%}

