{% extends 'baseUser.html' %}
{% load static %}

{% block title%}Adicionar Servidor{% endblock %}

{% block content%}
<div class="pageheader pd-t-25 pd-b-35">
    <div class="pd-t-5 pd-b-5">
    <h1 class="pd-0 mg-0 tx-20">Adicionar Volume</h1>
    <h3 class="pd-0 mg-0 tx-20">Os Volumes são unidades de Persistência de Dados da Base de Dados</h3>
    </div>
</div>

<!-- Placeholder As Label Start -->
                     <!--================================-->
                     <div class="col-md-12 col-lg-12">
                        <div class="card mg-b-20">
                           <div class="card-header">
                              <h4 class="card-header-title">
                                 Dados do Volume
                              </h4>
                              <div class="card-header-btn">
                                 <a  href="" data-toggle="collapse" class="btn card-collapse" data-target="#collapse3" aria-expanded="true"><i class="ion-ios-arrow-down"></i></a>
                                 <a href="" data-toggle="expand" class="btn card-expand"><i class="ion-android-expand"></i></a>
                              </div>
                           </div>
                           <div class="card-body collapse show" id="collapse3">
                            <form action="{% url 'newvolume' %}" method="POST" >{% csrf_token %}
                                <div class="form-layout form-layout-3">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="nome" placeholder="Nome do Volume">
                                        </div>
                                        </div>
                                        <!-- col-4 -->
                                        <div class="col-md-4 mg-t--1 mg-md-t-0">
                                        <div class="form-group mg-md-l--1">
                                            <input class="form-control" type="text" name="label" placeholder="Label">
                                        </div>
                                        </div>
                                    </div>
                                    <!-- row -->
                                    <div class="form-layout-footer bd pd-20 bd-t-0">
                                        <input  type="submit" class="btn btn-custom-primary" value="Guardar"/>
                                        <a href="#" class="btn btn-secondary">Cancel</a>
                                    </div>
                                    <!-- form-group -->
                                </div>
                            </form>
                           </div>
                        </div>
                     </div>
                     <!--/ Placeholder As Label End -->	
    
{% endblock %}
