{% extends 'baseUser.html' %}
{% load static %}

{% block title%}AAEE WARS - DashBoard{% endblock %}

{% block content%}
  


    <div class="pageheader pd-t-25 pd-b-35">
        <div class="pd-t-5 pd-b-5">
        <h1 class="pd-0 mg-0 tx-20">AAEE WARS</h1>
        </div>
    </div>
    <!-- Placeholder As Label Start -->
                     <!--================================-->
                     <div class="col-md-12 col-lg-12">
                        <div class="card mg-b-20">
                           <div class="card-header">
                            <h4 class="card-header-title">
                                 Infraestrutura
                              </h4>
                              <div class="card-header-btn">
                              
                              </div>
                           </div>
                           <div class="card-body collapse show" id="collapse3">
                            <!--Graficos-->
                            <div class="row row-xs clearfix">
                            <!--================================-->
                            <!-- Brush Chart Area Start -->
                            <!--================================-->	
                    
                                 
                                    <div class="col-md-6">
                                      <div class="box columnbox mt-4">
                                        <div id="bandchart"></div>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="box  mt-4">
                                        <div id="memorychart"></div>
                                      </div>
                                    </div>

                                    <div class="col-md-6">
                                      <div class="box columnbox mt-4">
                                        <div id="mediacpuusage"></div>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="box  mt-4">
                                        <div id="storagechart"></div>
                                      </div>
                                    </div>
                                   
                                 
                              
                              
                            <!--/ Brush Chart Area End -->
                            <!--================================-->
                         </div>  
                          
                            <!--Graficos-->


                           </div>
                        </div>
                     </div>
                     <!--/ Placeholder As Label End --> 
                    <!-- Code Start -->
                     <!--================================-->
                     <div class="col-md-12 col-lg-12">
                        <div class="card mg-b-20">
                           <div class="card-header">
                            <h4 class="card-header-title">
                                 Como instalar o Agente em um nó do Cluster?
                              </h4>
                              <div class="card-header-btn">
                                 <a  href="#" data-toggle="collapse" class="btn card-collapse" data-target="#collapse14" aria-expanded="true"><i class="ion-ios-arrow-down"></i></a>
                                 <a href="#" data-toggle="expand" class="btn card-expand"><i class="ion-android-expand"></i></a>
                                
                              </div>
                           </div>
                           <div class="card-body collapse show" id="collapse14">
                            <p>O agente é responsavel por enviar o status dos nós do Cluster tornando possivel o funcionamento do dashboard anterior entre outras funcionalidades. Para instalar a aplicação Agente em um nó do Cluster, primeiro é necessário fazer o download da aplicação agente neste nó, pode se fazer o download usando o comando:</p>
                              <pre>wget -O {{file}} {{adress}}/api/downloads?file={{file}}</pre>
                              <p>For example, <code>&lt;section&gt;</code> should be wrapped as inline.</p>
                              <p>
                                 To switch directories, type <kbd>cd</kbd> followed by the name of the directory.
                                 <br> To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>
                              </p>
                              <p>
                                 <var>y</var> = <var>m</var><var>x</var> + <var>b</var>
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--/ Code End --> 
                     <!--================================-->

            <script src="{% static 'assets2/plugins/apex-chart/apexcharts.min.js'%}"></script>
            <script src="{% static 'assets3/menucharts.js'%}"></script>
{% endblock%}

