{% extends 'baseUser.html' %}
{% load static %}

{% block title%}{{server.nome}}{% endblock %}

{% block content%}
 
    <div class="pageheader pd-t-25 pd-b-35">
        <div class="pd-t-5 pd-b-5">
        <h1 class="pd-0 mg-0 tx-20">Detalhes do Servidor {{server.nome}}</h1>
        <h3 class="pd-0 mg-0 tx-20">Veja aqui os detalhes do Seu Servidor</h3>
        </div>
    </div>


    <div class="row no-gutters">
        <div class="col-12">
           <div class="card bd-l-0-force bd-t-0-force bd-r-0-force">
              <div class="card-body bg-primary pd-y-50">
                 <div class="row no-gutters">
                    <div class="col-md-6 mg-t-20">
                       <div class="d-flex align-items-center">
                          <div class="mr-3">										
                             <span class="avatar avatar-lg avatar-online pd-b-20">
                             <img src="{% static 'assets/images/server.png'%}" class="img-fluid wd-100" alt="">
                             </span>
                          </div>
                          <div class="mg-b-0">
                             <h5 class="tx-gray-100 tx-15 mg-b-0">{{server.nome}}</h5>
                             <p class="mg-b-10 tx-gray-300">MONITORED SERVER</p>
                             <a href="" class="btn btn-sm btn-danger flex-fill mg-r-10">DELETE</a>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-4 mg-t-10 mg-l-auto">
                       <ul class="list-unstyled tx-gray-100 mb-0">
                          <li><i class="ti-target mr-2 font-18"></i> <b>ADDRESS </b> {{server.serverAdress}}</li>
                          <li class="mt-2"><i class="ti-mobile mr-2 font-18"></i> <b> TOKEN </b>{{server.token}}</li>
                          <li class="mt-2"><i class="ti-mobile mr-2 font-18"></i> <b> SERVER ID </b>{{server.id}}</li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
           <!--PC SPECS-->
              <div class="custom-fieldset mb-4">
                              
                                 <div class="d-flex align-items-center text-dark">

                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded card-icon-success">
                                       <i class="icon-grid tx-success tx-20"></i>
                                    </div>
                                    <div>
                                       <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-dark"><span class="counter">{{specs.fcores}}</span><small class="tx-15">@</small></h2>
                                       <div class="d-flex align-items-center tx-gray-500">Cores</div>
                                    </div>

                                    <!--CORES-->
                                     <div class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded card-icon-danger">
                                       <i class="icon-speedometer tx-danger tx-20"></i>
                                    </div>
                                    <div>
                                       <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-dark"><span class="counter">{{specs.freq}}</span><small class="tx-15">Ghz</small></h2>
                                       <div class="d-flex align-items-center tx-gray-500">Frequência</div>
                                    </div>
                                    
                                    <!--Memoria-->
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded card-icon-warning">
                                       <i class="icon-pie-chart tx-warning tx-20"></i>
                                    </div>
                                    <div>
                                       <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-dark"><span class="counter">{{specs.men}}</span><small class="tx-15">GB</small></h2>
                                       <div class="d-flex align-items-center tx-gray-500">RAM</div>
                                    </div>


                                 </div>
                              </div>
           <!--PC SPECS END-->


           <!--Graficos-->
           <div class="row row-xs clearfix">
            <!--================================-->
            <!-- Brush Chart Area Start -->
            <!--================================-->	
            <div class="col-xl-12">
               <div class="card mg-b-20">
                  <div class="card-body">
                     <div id="serverchart"></div>
                  </div>
               </div>
            </div>
            <!--/ Brush Chart Area End -->
            <!--================================-->
         </div>          
        </div>
     </div>

     <script src="{% static 'assets2/plugins/apex-chart/apexcharts.min.js'%}"></script>
     <script src="{% static 'assets2/plugins/apex-chart/irregular-data-series.js'%}"></script>
     <script src="{% static 'assets2/js/serverchart.js'%}"></script>
{% endblock %}

