{% extends 'baseUser.html' %}
{% load static %}

{% block title%}{{server.nome}}{% endblock %}

{% block content%}
 
    <div class="pageheader pd-t-25 pd-b-35">
        <div class="pd-t-5 pd-b-5">
        <h1 class="pd-0 mg-0 tx-20">Detalhes do Servidor {{server.nome}}</h1>
        <h3 class="pd-0 mg-0 tx-20">Veja aqui os detalhes do Seu Servidor</h3>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12">
           <div class="card bd-l-0-force bd-t-0-force bd-r-0-force">
              <div class="card-body bg-primary pd-y-50">
                 <div class="row no-gutters">
                    <div class="col-md-6 mg-t-20">
                       <div class="d-flex align-items-center">
                          <div class="mr-3">										
                             <span class="avatar avatar-lg avatar-online pd-b-20">
                             <img src="{% static 'assets/images/server.png'%}" class="img-fluid wd-100" alt="">
                             </span>
                          </div>
                          <div class="mg-b-0">
                             <h5 class="tx-gray-100 tx-15 mg-b-0">{{server.nome}}</h5>
                             <p class="mg-b-10 tx-gray-300">MONITORED SERVER</p>
                             <a href="" class="btn btn-sm btn-danger flex-fill mg-r-10">DELETE</a>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-4 mg-t-10 mg-l-auto">
                       <ul class="list-unstyled tx-gray-100 mb-0">
                          <li><i class="ti-target mr-2 font-18"></i> <b>ADDRESS </b>: {{server.serverAdress}}</li>
                          <li class="mt-2"><i class="ti-mobile mr-2 font-18"></i> <b> TOKEN </b>:{{server.token}}</li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>

           <!--Graficos-->
           <div class="row row-xs clearfix">
            <!--================================-->
            <!-- Brush Chart Area Start -->
            <!--================================-->	
            <div class="col-xl-12">
               <div class="card mg-b-20">
                  <div class="card-body">
                     <div id="serverchart"></div>
                  </div>
               </div>
            </div>
            <!--/ Brush Chart Area End -->
            <!--================================-->
         </div>          
        </div>
     </div>

   
{% endblock %}

