<!DOCTYPE html>
<html>
<head>
  <title>Alteração de Senha</title>
</head>
<body>
  <h1>Alteração de Senha</h1>
  
  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}
  
  <form method="post" action="{% url 'password_change' %}">
    {% csrf_token %}
    <label for="id_old_password">Senha Antiga:</label>
    <input type="password" id="id_old_password" name="old_password" required>
    <br>
    <label for="id_new_password1">Nova Senha:</label>
    <input type="password" id="id_new_password1" name="new_password1" required>
    <br>
    <label for="id_new_password2">Confirmar Nova Senha:</label>
    <input type="password" id="id_new_password2" name="new_password2" required>
    <br>
    <input type="submit" value="Alterar Senha">
  </form>
  
</body>
</html>
